[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-lint = "==4.*"
molecule = "==2.*"
docker = "==4.*"
tox = "==3.*"

[requires]
python_version = "3.7"
